---
import Landing from "../layouts/Landing.astro";
import Nav from "../components/landing/Nav.astro";
import Hero from "../components/landing/Hero.astro";
import Features from "../components/landing/Features.astro";
import CodeExample from "../components/landing/CodeExample.astro";
import ComparisonTable from "../components/landing/ComparisonTable.astro";
import GettingStarted from "../components/landing/GettingStarted.astro";
import StatusBanner from "../components/landing/StatusBanner.astro";
import Footer from "../components/landing/Footer.astro";
---

<Landing>
  <Nav />
  <main>
    <Hero />
    <Features />
    <CodeExample />
    <ComparisonTable />
    <GettingStarted />
    <StatusBanner />
  </main>
  <Footer />
</Landing>
